@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #0f0f0f;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: oklch(37.1% 0 none);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(51.1% 0.262 276.966);
}